<h1>this is the index view</h1>
<% @posts.each do |post| %>
<h2><%= post.title %></h2>
<!-- <p><%#= post.content %></p> -->
<%= link_to "View Post", post_path(post), class: "btn btn-default "%>
    <%= link_to 'Add to favorites', post_favorite_posts_path(post.id, @post), method: :post %>
    <%#= link_to 'Remove from favorites', post_favorite_posts_path(post.id, @post), method: :delete %>
  <% end %>
<br>
<%= link_to "New Post", new_post_path %>

