  <div class="search">
    <script>
      (function() {
       var cx = '001473435792807546317:kdvc37rz0vy';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
   <gcse:search></gcse:search>
</div>

<h1>Support And Advice</h1>
<br>
<% @posts.each do |post| %>
  <div class="col-md-4">
    <div class="post">
      <h2 class="post-title"><%= post.title %></h2>
      <%= link_to "View Post", post_path(post), class: "btn-custom "%>
      <br>
      <br>
      <%= link_to '<i class="icon ion-ios-heart"></i>'.html_safe, post_favorite_posts_path(post.id, @post), method: :post  %>

      <%= link_to '<i class="ion-ios-heart-outline"></i>'.html_safe, post_favorite_post_path(post.id, current_user.id), method: :delete %>

    </div>
  </div>
   <% end %>
</div>
</div>


