<h1 class="name">Members</h1>
<br>
<% @users.each do |user| %>
<img class="img-responsive img-circle hidden-xs" src="<%= user.img_url %>" alt="" style = "width: 50px; height: 50px; margin-bottom:10px;">
<p>Disease Type: <%= user.disease %><br>Email: <%= user.email%></p><hr>
<% end %>
