    <h1 class="text-center"><strong>TumMe: </strong></h1>

                       <p> My name is Magdalena. I have suffered with Gastroperis for 3 years now. I have seen improvement, but still have my
                        daily struggles. I went undisgonsied for years with no answers and the constant assumtions, "its just stress" or "its all in your head". I learned
                        quickly that I had to become my own advoate. My goal is to support others under simular surcamstances and to make it know you
                        are not alone.  </p><br>
<div class="container">
    <div class="span3 well">
        <center>
        <a href="#aboutModal" data-toggle="modal" data-target="#myModal"><img src="./assets/images/mag.jpg" name="aboutme" width="140" height="140" class="img-circle"></a>
        <h3 class="name">Magdalena</h3>
        <em>click my face for more</em>
    </center>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" id="myModalLabel">More About Magdalena</h4>
                    </div>
                <div class="modal-body">
                    <center>
                    <img src="../assets/images/mag.jpg" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                    <h3 class="media-heading">Magdalena <small>Web Developer</small></h3>
                       <a href="https://www.linkedin.com/in/magdalena-kinney/"><span class="label label-info">Linkedin</span></a>
                       <a href="https://magkinney21.github.io/My-Portfolio/"><span class="label label-success">Portfolio</span></a>
                       <a href="https://magkinney21.github.io/My-Portfolio/"><span class="label label-default">Github</span></a></center>
                    <hr>
                    <center>
                    <p class="text-left"><strong>Bio: </strong><br>
                        My name is Magdalena. I have suffered with Gastroperis for 3 years now. I have seen improvement, but still have my
                        daily struggles. I went undisgonsied for years with no answers and the constant assumtions, "its just stress" or "its all in your head". I learned
                        quickly that I had to become my own advoate. My goal is to support others under simular surcamstances and to make it know you
                        are not alone.  </p>
                    <br>
                    </center>
                </div>
                <div class="modal-footer">
                    <center>
                    <button type="button" class="btn btn-default" data-dismiss="modal">I've heard enough about Magdalena</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="span3 well">
        <center>
        <a href="#aboutModal" data-toggle="modal" data-target="#myModal1"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAA2ZAAAAJDczYmE2MzM5LWJlNGMtNDViNy1hOTdiLWJmZGU2Nzk1NDc4Mw.jpg" name="aboutme" width="140" height="140" class="img-circle"></a>
        <h3 class="name">Julian</h3>
        <em>click my face for more</em>
    </center>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" id="myModalLabel1">More About Julian</h4>
                    </div>
                <div class="modal-body">
                    <center>
                    <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAA2ZAAAAJDczYmE2MzM5LWJlNGMtNDViNy1hOTdiLWJmZGU2Nzk1NDc4Mw.jpg" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                    <h3 class="media-heading">Julian <small>Web Developer</small></h3>
                    <span><strong>Skills: </strong></span>
                      <a href="https://www.linkedin.com/in/magdalena-kinney/"><span class="label label-info">Linkedin</span></a>
                       <a href="https://jcireland.github.io/My-Portfolio/"><span class="label label-success">Portfolio</span></a>
                       <a href="https://magkinney21.github.io/My-Portfolio/"><span class="label label-default">Github</span></a></center>
                    </center>
                    <hr>
                    <center>
                    <p class="text-left"><strong>Bio: </strong><br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sem dui, tempor sit amet commodo a, vulputate vel tellus.</p>
                    <br>
                    </center>
                </div>
                <div class="modal-footer">
                    <center>
                    <button type="button" class="btn btn-default" data-dismiss="modal">I've heard enough about Julian</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>

