    <h1 class="text-center"><strong>About Us: </strong></h1>

<div class="container">
    <div class="span3 well">
        <center>
        <a href="#aboutModal" data-toggle="modal" data-target="#myModal"><img src="./assets/images/mag.jpg" name="aboutme" width="140" height="140" class="img-circle"></a>
        <h3 class="name">Magdalena</h3>
        <em>click my face for more</em>
    </center>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" id="myModalLabel">More About Magdalena</h4>
                    </div>
                <div class="modal-body">
                    <center>
                    <img src="../assets/images/mag.jpg" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                    <h3 class="media-heading">Magdalena <small>Web Developer</small></h3>
                       <a href="https://www.linkedin.com/in/magdalena-kinney/"><span class="label label-info">Linkedin</span></a>
                       <a href="https://magkinney21.github.io/My-Portfolio/"><span class="label label-success">Portfolio</span></a>
                       <a href="https://magkinney21.github.io/My-Portfolio/"><span class="label label-default">Github</span></a></center>
                    <hr>
                    <center>
                    <p class="text-left"><strong>Bio: </strong><br>
                        My name is Magdalena. I have suffered with Gastroperis for 3 years now. I have seen improvement, but still have my
                        daily struggles. I went undiagnosed for years with no answers and the constant assumptions, "its just stress" or "its all in your head". I learned
                        quickly that I had to become my own advocate. My goal is to support others under similar circumstances and to make it know you
                        are not alone.  </p>
                    <br>
                    </center>
                </div>
                <div class="modal-footer">
                    <center>
                    <button type="button" class="btn btn-default" data-dismiss="modal">I've heard enough about Magdalena</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="span3 well">
        <center>
        <a href="#aboutModal" data-toggle="modal" data-target="#myModal1"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAA2ZAAAAJDczYmE2MzM5LWJlNGMtNDViNy1hOTdiLWJmZGU2Nzk1NDc4Mw.jpg" name="aboutme" width="140" height="140" class="img-circle"></a>
        <h3 class="name">Julian</h3>
        <em>click my face for more</em>
    </center>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" id="myModalLabel1">More About Julian</h4>
                    </div>
                <div class="modal-body">
                    <center>
                    <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAA2ZAAAAJDczYmE2MzM5LWJlNGMtNDViNy1hOTdiLWJmZGU2Nzk1NDc4Mw.jpg" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                    <h3 class="media-heading">Julian <small>Web Developer</small></h3>
                    <span><strong>Skills: </strong></span>
<<<<<<< HEAD
                      <a href="https://www.linkedin.com/in/julianic/"><span class="label label-info">Linkden</span></a>
                       <a href="http://julian-ireland-chandler.bitballoon.com/"><span class="label label-success">Portfolio</span></a>
                       <a href="https://github.com/jcireland14"><span class="label label-default">Github</span></a></center>
=======
                      <a href="https://www.linkedin.com/in/magdalena-kinney/"><span class="label label-info">Linkedin</span></a>
                       <a href="https://jcireland.github.io/My-Portfolio/"><span class="label label-success">Portfolio</span></a>
                       <a href="https://magkinney21.github.io/My-Portfolio/"><span class="label label-default">Github</span></a></center>
>>>>>>> 36696ed35808e3ac6e4de43dcb2d37940e9409f2
                    </center>
                    <hr>
                    <center>
                    <p class="text-left"><strong>Bio: </strong><br>
                        My name is Julian. I have been dealing with digestive issues
                        since the age of 7.  I recently was diagnosed with severe Crohn's of the colon. The hardest
                        part for me has been the lifestyle change and managing my flare ups. So far no medicine has
                        worked to ease my symptoms, so I have taken it into my own hards to try and figure out how to
                        tackle these flare ups, and at times, debilitating symptoms. I hope to connect with many out there to offer support
                        and to get through this together! </p>
                    <br>
                    </center>
                </div>
                <div class="modal-footer">
                    <center>
                    <button type="button" class="btn btn-default" data-dismiss="modal">I've heard enough about Julian</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>

